# Comparing Significant Features for Different Cities

## Summary
<br> The list of significant features for predicting the Airbnb price of a listing was analysed and exported in a txt file for each city.
<br> Here, the lists are loaded and compared to specify a general guidline for important listing features

<br> loading necessary libraries

In [6]:
# import os
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline

<br> list of cities

In [7]:
city_names = ['Montreal', 'New_Brunswick', 'Quebec_City', 'Toronto', 'Vancouver', 'Victoria']

<br> loading features and creating a data frame to compare the cities

In [8]:
def load_features(city):
    # opening the file in read mode
    feat_file = open(f'{city}_feat.txt', 'r')
    # reading the file
    features = feat_file.read()
    # splitting the text
    feature_list = features.split("\n")
    feat_file.close()
    return feature_list[0:-1]

def all_elements(list1, list2):
    return sorted(list(set(list1 + list2)))

all_features = load_features(city_names[0])
for city in city_names[1:]:
    all_features = all_elements(load_features(city), all_features)

df_feat=pd.DataFrame(index=all_features)
for city in city_names:
    df_feat[city] = pd.DataFrame(data=True, index=load_features(city), columns=[city])


# defining a new column: sum
# shows the total number of times a feature is statistically significant amoung cities
df_feat['sum'] = df_feat.sum(axis=1, skipna=True)
df_feat.sort_values(by='sum', ascending=False, inplace=True)

df_feat.style.highlight_between(subset=['sum'], left=4, right=6, color='green')\
                    .highlight_between(subset=['sum'], left=0, right=3, color='red')\
                    .highlight_between(subset=city_names, left=False, right=True, color='lightgreen')\
                    .highlight_null(null_color='pink')